.paragraphHeight {
  line-height: 1.5;
  font-size: 1.6rem;
}
.ahref {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 1.6rem;
}
.container-class {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.flex-wrapping {
  display: flex;
  flex-wrap: wrap;
}
.text-centering {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  cursor: pointer;
}
header {
  background: blue;
  line-height: 1.5;
  font-size: 1.6rem;
}
header .logo-nav {
  display: flex;
}
header .logo-nav img {
  cursor: pointer;
}
header .logo-nav a {
  text-decoration: none;
  color: black;
}
header ul li {
  display: none;
}
header ul li a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 1.6rem;
}
header ul .not-hidden {
  display: block;
}
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .menu {
    display: none;
  }
  header .nav-links ul li {
    display: inline;
  }
  header .nav-links ul li a {
    display: inline;
  }
}
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .hero .hero-section {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .hero .hero-section .hero-copy {
    width: 49%;
  }
  .hero .hero-section .hero-img {
    width: 49%;
  }
}
.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .features .features-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  footer {
    text-align: left;
    justify-content: flex-start;
  }
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  footer .footer-content .footer-nav {
    flex: 50%;
  }
  footer .footer-content .nav {
    flex: 50%;
    text-align: right;
  }
  footer .footer-content .copyright {
    flex: 50%;
  }
}
.team {
  text-align: center;
}
@media (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
