a {
    cursor: pointer;
}

header {
    background: blue;
    .paragraphHeight;

    .logo-nav {
        display: flex;
        img {
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    ul {
        li {
            display: none;

            a {
                .ahref;
            }

        }

        .not-hidden {
            display: block;
        }
    }

    @media @tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: none;
        }

        .nav-links {
            ul {
                li {
                    display: inline;

                    a {
                        display: inline;
                    }
                }
            }
        }
    }
}


.hero {
    .text-centering;

    @media @tablet {
        .hero-section {
            width: 90%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .hero-copy {
                width: 49%;

            }
    
            .hero-img {
                width: 49%;
            }
        }

        @media @desktop {
            .hero-img {

            }
        }
    }
}

.welcome {
    .text-centering;


}

.features {
    .text-centering;

    @media @tablet {
        .features-wrap {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}

footer {
    .text-centering;

    a {
        .ahref
    }

    @media @tablet {
        text-align: left;
        justify-content: flex-start;

        .footer-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            .footer-nav {
                flex: 50%;
            }

            .nav {
                flex: 50%;
                text-align: right;
            }

            .copyright {
                flex: 50%;
            }
        }
    }
}

.team {
    text-align: center;

    @media @tablet {
        .flex-wrapping;
    }
}

@media @tablet {
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}