header {
    background: blue;
    .paragraphHeight;
    ul {
        li {
            a {
                .ahref;
            }
        }
    }

    @media @tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-links {
            ul {
                li {
                    display: inline;
                }
            }
        }
    }
}


.hero {
    .text-centering;

    @media @tablet {
        .hero-section {
            width: 90%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .hero-copy {
                width: 49%;

            }
    
            .hero-img {
                width: 49%;
            }
        }
    }
}

.welcome {
    .text-centering;


}

.features {
    .text-centering;

    @media @tablet {
        .features-wrap {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}

footer {
    .text-centering;

    a {
        .ahref
    }

    @media @tablet {
        text-align: left;
        justify-content: flex-start;

        .footer-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            .footer-nav {
                flex: 50%;
            }

            .nav {
                flex: 50%;
                text-align: right;
            }

            .copyright {
                flex: 50%;
            }
        }
    }
}