.paragraphHeight {
    line-height: 1.5;
    font-size: 1.6rem;
}

.ahref {
    text-decoration: none;
    color: black;
    .paragraphHeight;
}

.container-class {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}