// Font
@font-face {
    font-family: 'scribble_boxregular';
    src: url('../assets/scribble_box_demo-webfont.woff2') format('woff2'),
        url('../assets/scribble_box_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Media Queries
@tablet: ~"(min-width: 500px)";
@tabletInBetween: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1000px)";

// Styling
@paddingWebsite: 10px 80px;
@paddingMenu: 0 2rem;
@marginMain: 30px;
@marginSection: 45px 15px;
@marginWelcome: 20px;
@buttonPadding: 10px 20px;
@color1: #4F1271;
@color2: #CBC5EA;
@color3: #9893DA;
@color4: #5EFC8D;
@color5: #8EF9F3;

